<div class="contenedor">
  <div class="mx-auto text-center" id="contentLoggin">
    <h1 class="">Loggin</h1>
      <form (submit)="logginUser()">
        <div>
          <i class="fa fa-at "></i>
          <input class="d-inline-block mx-auto form-control" [(ngModel)]="user.correo" name="correo" type="email" placeholder="Correo">
        </div>
        <div>
          <i class="fa fa-unlock-alt"></i>
          <input class="d-inline-block mx-auto form-control" [(ngModel)]="user.clave" name="clave" type="password" placeholder="Contraseña">
        </div>



        <div>
          <button class="d-block mx-auto">Iniciar Sesion</button>
        </div>

        <div class="d-block mt-3">
          <span>Aun no tiene una cuenta creada?
            <a routerLink="registro" (click)="registrarCuenta()">Click Aqui</a>
          </span>
        </div>
    </form>
  </div>
</div>

