<div class="contenedor">
  <div class="mx-auto text-center" id="contentLoggin">
    <h1 class="">Registrarse</h1>

    <div>
      <i class="fa fa-at "></i>
      <input class="d-inline-block mx-auto form-control" type="email" placeholder="Correo">
    </div>
    <div>
      <i class="fa fa-user"></i>
      <input class="d-inline-block mx-auto form-control" type="text" placeholder="Nombre">
    </div>
    <div>
      <i class="fa fa-unlock-alt"></i>
      <input class="d-inline-block mx-auto form-control" type="password" placeholder="Contraseña">
    </div>
    <div>
      <i class="fa fa-unlock-alt"></i>
      <input class="d-inline-block mx-auto form-control" type="password" placeholder="Repetir contraseña">
    </div>

    <div>
      <button class="d-block mx-auto">Registrarse</button>
    </div>

  </div>
</div>

