<div class="contenedor">
  <div class="mx-auto text-center" id="contentLoggin">
    <h1 class="">Registrar Secreto</h1>
      <form (submit)="regitrarSecreto()">
        <div>
          <i class="fa fa-at "></i>
          <input class="d-inline-block mx-auto form-control"  [(ngModel)]="secreto.titulo" name="titulo" type="text" placeholder="Titulo">
        </div>
        <div>
          <i class="fa fa-user"></i>
          <input class="d-inline-block mx-auto form-control" [(ngModel)]="secreto.descripcion" name="descripcion" type="text" placeholder="Descripcion">
        </div>
        <div>
          <i class="fa fa-street-view"></i>
          <input class="d-inline-block mx-auto form-control" [(ngModel)]="secreto.valor_monetario" name="valor_monetario" type="number" placeholder="Valor Monetario">
        </div>
        <div>
          <i class="fa fa-street-view"></i>
          <input class="d-inline-block mx-auto form-control" [(ngModel)]="secreto.fecha" name="fecha" type="date" placeholder="Fecha">
        </div>
        <div>
          <i class="fa fa-street-view"></i>
          <input class="d-inline-block mx-auto form-control" [(ngModel)]="secreto.lugar" name="lugar" type="text" placeholder="Lugar">
        </div>
        <div>
          <i class="fa fa-street-view"></i>
          <input class="d-inline-block mx-auto form-control" [(ngModel)]="secreto.latylng" name="latylong" type="number" placeholder="Lat y Lng">
        </div>

      <div>
        <button type="submit"class="d-block mx-auto">Registrar Secreto</button>
      </div>
    </form>
    <button class="text-wite" (click)="pruebam()">Prueba</button>
  </div>
</div>

