<div class="mx-auto" id="contentLoggin"  >
  <div class="card-body" >
    <h5 class="card-title text-center"><strong>{{secre.titulo}}</strong></h5>

    <p class="card-text"><strong>Descripcion: </strong>{{secre.descripcion}}</p>
    <p class="card-text"><strong>Valor Monetario: </strong>{{secre.valor_monetario}}</p>
    <p class="card-text"><strong>Fecha: </strong>{{secre.fecha}}</p>
    <p class="card-text"><strong>Lugar: </strong>{{secre.lugar}}</p>
    <p class="card-text"><strong>Lat y Lng: </strong>{{secre.latylng}}</p>

  </div>
  <button  class="w-25 d-block mx-auto" (click)="Borrar(secre.id)">Eliminar</button>
</div>



