<div class="mx-auto" id="contentLoggin"  >
  <div class="card-body" >
    <h5 class="card-title text-center"><strong>{{secre.titulo}}</strong></h5>

    <p class="card-text"><strong>Descripcion: </strong>Gund and Rose</p>
    <p class="card-text"><strong>Valor Monetario: </strong>1969</p>
    <p class="card-text"><strong>Fecha: </strong>19-6-2021</p>
    <p class="card-text"><strong>Lugar: </strong>Hotel California</p>
    <p class="card-text"><strong>Lat y Lng: </strong>You can find me here</p>

  </div>
  <button  class="w-25 d-block mx-auto" (click)="Borrar(2)">Delete</button>
</div>



