
#contentLoggin{
  background: rgb(245, 244, 244);
  box-shadow:  3px 3px 7px 3px #ccc;
  margin-top: 1%;
  width: 33%;
  height: 100%;
  padding: 2%
}
button{
  background-color: #A32B31;
  border: none;
  color: white;
  padding: 2%;
  text-decoration: none;
  font-size: 16px;
}
h1{
  color: #A32B31;
}
button{
  width: 50%;
}
input{
  width: 80%;
  padding: 0.5%;
  margin: 4%;
}
i{
  margin: 1%;
}
a,span{
  font-size: 14px;
}
a{
  color: #A32B31;
}
